server:
  port: 8080
 
spring:
  datasource:
    platform: postgres
    url: jdbc:postgresql://127.0.0.1:5432/myasiandramas
    username: 
    password: 
    driverClassName: org.postgresql.Driver
 
  sql:
    init:
      mode: always
      schema-locations: classpath:schema-postgresql.sql
