<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>MyAsianDramas</title>
  <link rel="stylesheet" th:href="@{css/landing.css}"/>
</head>
<body>
  <!-- Topo -->
  <header class="topbar">
    <span class="brand">
        <img class="brand-icon" th:src="@{img/korean-heart.png}" alt=""/>
      <span class="brand-name">MyAsianDramas</span>
    </span>
    <p class="topbar-subtitulo">Organize seus doramas favoritos do seu jeito</p>
    <div class="topbar-right">
      <span>Login</span>
      <span class="divisor">|</span> <!--Classe para não ficar com mesmo estilo que Login-->
      <span class="btn-cadastro">Cadastre-se</span>
    </div>
  </header>

  <!-- Barra de navegação / Menu -->
  <nav class="navbar">
    <span class="active">Início</span>
    <span><abbr title="Dramas Coreanos">K-Dramas</abbr></span>
    <span><abbr title="Dramas Chineses">C-Dramas</abbr></span>
    <span><abbr title="Dramas Japoneses">J-Dramas</abbr></span>
    <span><abbr title="Dramas Tailandeses">Th-Dramas</abbr></span>
    <span><abbr title="Dramas Taiwaneses">Tw-Dramas</abbr></span>
    <span>Em Andamento</span>
    <span>Minhas Listas</span>
    <div class="navbar-busca">
      <input type="text" placeholder="Buscar dorama..."/>
      <span>🔍</span>
    </div>
  </nav>

  <!-- Conteúdo Principal -->
  <main>

    <!-- Episódios Recentes -->
    <div class="section-header">
      <h2>Episódios Lançados Recentemente</h2>
      <div class="section-line"></div>
      <a class="ver-mais">Ver mais</a>
    </div>

    <div class="doramas-grid">

      <div class="grid-item">
        <img class="doramas-poster" th:src="@{img/thewaybacktoyou.jpg}" alt=""/>
        <div class="doramas-info">
          <img class="doramas-flag" src="https://flagcdn.com/24x18/tw.png" alt="Taiwan"/>
          <span class="doramas-titulo">The Way Back to You</span>
          <span class="doramas-ep">Ep. 6</span>
        </div>
      </div>
      <div class="grid-item">
        <img class="doramas-poster" th:src="@{img/whenorangesfall.jpg}" alt=""/>
        <div class="doramas-info">
          <img class="doramas-flag" src="https://flagcdn.com/24x18/th.png" alt="Tailândia"/>
          <span class="doramas-titulo">When Oranges Fall</span>
          <span class="doramas-ep">Ep. 1</span>
        </div>
      </div>
      <div class="grid-item">
        <img class="doramas-poster" th:src="@{img/soldoutonyou.jpg}" alt=""/>
        <div class="doramas-info">
          <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
          <span class="doramas-titulo">O Amor Não Está Esgotado</span>
          <span class="doramas-ep">Ep. 7</span>
        </div>
      </div>
      <div class="grid-item">
        <img class="doramas-poster" th:src="@{img/OlhaPraMimMukaikun.jpg}" alt=""/>
        <div class="doramas-info">
          <img class="doramas-flag" src="https://flagcdn.com/24x18/jp.png" alt="Japão"/>
          <span class="doramas-titulo">Olha Pra Mim, Mukai-kun </span>
          <span class="doramas-ep">Ep. 5</span>
        </div>
      </div>
      <div class="grid-item">
        <img class="doramas-poster" th:src="@{img/OBeijodaSereia.jpg}" alt=""/>
        <div class="doramas-info">
          <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
          <span class="doramas-titulo">O Beijo da Sereia</span>
          <span class="doramas-ep">Ep. 12</span>
        </div>
      </div>
      <div class="grid-item">
        <img class="doramas-poster" th:src="@{img/BrilheSobreMim.jpg}" alt=""/>
        <div class="doramas-info">
          <img class="doramas-flag" src="https://flagcdn.com/24x18/cn.png" alt="China"/>
          <span class="doramas-titulo">Brilhe Sobre Mim</span>
          <span class="doramas-ep">Ep. 20</span>
        </div>
      </div>
      <div class="grid-item">
        <img class="doramas-poster" th:src="@{img/BehindYourTouch.jpg}" alt=""/>
        <div class="doramas-info">
          <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
          <span class="doramas-titulo">Behind Your Touch</span>
          <span class="doramas-ep">Ep. 10</span>
        </div>
      </div>
      <div class="grid-item">
        <img class="doramas-poster" th:src="@{img/AmorO2O.jpg}" alt=""/>
        <div class="doramas-info">
          <img class="doramas-flag" src="https://flagcdn.com/24x18/cn.png" alt="China"/>
          <span class="doramas-titulo">Amor O2O</span>
          <span class="doramas-ep">Ep. 25</span>
        </div>
      </div>
      <div class="grid-item">
        <img class="doramas-poster" th:src="@{img/AdvogadoFantasma.jpg}" alt=""/>
        <div class="doramas-info">
          <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
          <span class="doramas-titulo">Advogado Fantasma</span>
          <span class="doramas-ep">Ep. 9</span>
        </div>
      </div>
      <div class="grid-item">
        <img class="doramas-poster" th:src="@{img/TheFlowersofEvil.jpg}" alt=""/>
        <div class="doramas-info">
          <img class="doramas-flag" src="https://flagcdn.com/24x18/jp.png" alt="Japão"/>
          <span class="doramas-titulo">The Flowers of Evil</span>
          <span class="doramas-ep">Ep. 6</span>
        </div>
      </div>
      <div class="grid-item">
        <img class="doramas-poster" th:src="@{img/CabbageYourLife.jpg}" alt=""/>
        <div class="doramas-info">
          <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
          <span class="doramas-titulo">Cabbage Your Life</span>
          <span class="doramas-ep">Ep. 8</span>
        </div>
      </div>
      <div class="grid-item">
        <img class="doramas-poster" th:src="@{img/ZhanZhaoAdventures.jpg}" alt=""/>
        <div class="doramas-info">
          <img class="doramas-flag" src="https://flagcdn.com/24x18/cn.png" alt="China"/>
          <span class="doramas-titulo">Zhan Zhao Adventures</span>
          <span class="doramas-ep">Ep. 6</span>
        </div>
      </div>
      <div class="grid-item">
        <img class="doramas-poster" th:src="@{img/OurHappyDays.jpg}" alt=""/>
        <div class="doramas-info">
          <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
          <span class="doramas-titulo">Our Happy Days</span>
          <span class="doramas-ep">Ep. 34</span>
        </div>
      </div>
      <div class="grid-item">
        <img class="doramas-poster" th:src="@{img/NamoradoPorAssinatura.jpg}" alt=""/>
        <div class="doramas-info">
          <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
          <span class="doramas-titulo">Namorado Por Assinatura</span>
          <span class="doramas-ep">Ep. 11</span>
        </div>
      </div>
    </div>

    <!-- Próximos Episódios -->
    <div class="section-header">
      <h2>Próximos Episódios</h2>
      <div class="section-line"></div>
      <a class="ver-mais">Ver mais</a>
    </div>

    <div class="lista-episodios">

    <div class="lista-item">
      <img class="doramas-flag" src="https://flagcdn.com/24x18/jp.png" alt="Japão"/>
      <span class="lista-titulo">Shitsuren Karuta</span>
      <span class="lista-ep">Ep. 7</span>
    </div>
    <div class="lista-item">
      <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
      <span class="lista-titulo">Magic Move</span>
      <span class="lista-ep">Ep. 4</span>
    </div>
    <div class="lista-item">
      <img class="doramas-flag" src="https://flagcdn.com/24x18/jp.png" alt="Japão"/>
      <span class="lista-titulo">Azure Spring</span>
      <span class="lista-ep">Ep. 2</span>
    </div>
    <div class="lista-item">
      <img class="doramas-flag" src="https://flagcdn.com/24x18/th.png" alt="Tailândia"/>
      <span class="lista-titulo">Wu the Series</span>
      <span class="lista-ep">Ep. 2</span>
    </div>
    <div class="lista-item">
      <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
      <span class="lista-titulo">The Scarecrow</span>
      <span class="lista-ep">Ep. 8</span>
    </div>
    <div class="lista-item">
      <img class="doramas-flag" src="https://flagcdn.com/24x18/jp.png" alt="Japão"/>
      <span class="lista-titulo">Reborn</span>
      <span class="lista-ep">Ep. 5</span>
    </div>
    <div class="lista-item">
      <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
      <span class="lista-titulo">The Legend of Kitchen Soldier</span>
      <span class="lista-ep">Ep. 2</span>
    </div>
    <div class="lista-item">
      <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
      <span class="lista-titulo">Born with Luck</span>
      <span class="lista-ep">Ep. 21</span>
    </div>
    <div class="lista-item">
      <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
      <span class="lista-titulo">Wanna One Go: Back to Base</span>
      <span class="lista-ep">Ep. 5</span>
    </div>
    <div class="lista-item">
      <img class="doramas-flag" src="https://flagcdn.com/24x18/cn.png" alt="China"/>
      <span class="lista-titulo">The Lead</span>
      <span class="lista-ep">Ep. 7</span>
    </div>
  </div>

    <!-- Lançamentos do ano-->
    <div class="section-header">
      <h2>Lançamentos do ano</h2>
      <div class="section-line"></div>
    </div>

    <div class="meses-grid">
      <span class="mes-btn">Jan</span>
      <span class="mes-btn">Fev</span>
      <span class="mes-btn">Mar</span>
      <span class="mes-btn">Abr</span>
      <span class="mes-btn active">Mai</span> <!--Active apenas para visualização-->
      <span class="mes-btn">Jun</span>
      <span class="mes-btn">Jul</span>
      <span class="mes-btn">Ago</span>
      <span class="mes-btn">Set</span>
      <span class="mes-btn">Out</span>
      <span class="mes-btn">Nov</span>
      <span class="mes-btn">Dez</span>
    </div>
    <div class="lista-lancamentos">
    <div class="lista-data-grupo">
      <span class="lista-data">01 de maio</span>
      <div class="lista-item">
        <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
        <span class="lista-titulo">KBS Drama</span>
      </div>
    </div>
    <div class="lista-data-grupo">
      <span class="lista-data">06 de maio</span>
      <div class="lista-item">
        <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
        <span class="lista-titulo">Drama A</span>
      </div>
      <div class="lista-item">
        <img class="doramas-flag" src="https://flagcdn.com/24x18/cn.png" alt="China"/>
        <span class="lista-titulo">Drama B</span>
      </div>
    </div>

    <div class="lista-data-grupo">
      <span class="lista-data">08 de maio</span>
      <div class="lista-item">
        <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
        <span class="lista-titulo">My Royal Nemesis</span>
      </div>
    </div>

    <div class="lista-data-grupo">
      <span class="lista-data">11 de maio</span>
      <div class="lista-item">
        <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
        <span class="lista-titulo">The Legend of Kitchen Soldier</span>
      </div>
    </div>

    <div class="lista-data-grupo">
      <span class="lista-data">12 de maio</span>
      <div class="lista-item">
        <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
        <span class="lista-titulo">Reborn Rookie</span>
      </div>
    </div>

    <div class="lista-data-grupo">
      <span class="lista-data">14 de maio</span>
      <div class="lista-item">
        <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
        <span class="lista-titulo">Soul Mate</span>
      </div>
    </div>

    <div class="lista-data-grupo">
      <span class="lista-data">15 de maio</span>
      <div class="lista-item">
        <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
        <span class="lista-titulo">The WONDERfools</span>
      </div>
      <div class="lista-item">
        <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
        <span class="lista-titulo">Drama B</span>
      </div>
    </div>

    <div class="lista-data-grupo">
      <span class="lista-data">22 de maio</span>
      <div class="lista-item">
        <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
        <span class="lista-titulo">Fifties Professionals</span>
      </div>
    </div>

    <div class="lista-data-grupo">
      <span class="lista-data">30 de maio</span>
      <div class="lista-item">
        <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
        <span class="lista-titulo">Reborn Rookie 2</span>
      </div>
    </div>
  </div>
  </main>

  <footer>
    <p>MyAsianDramas &copy; 2026 &mdash; Feito com <span>♥</span> para fãs de doramas</p>
  </footer>

</body>
</html>
