<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>MyAsianDramas</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="stylesheet" th:href="@{css/base.css}"/>
  <link rel="stylesheet" th:href="@{css/landing.css}"/>
</head>
<body>
  <!-- Topo -->
  <header class="topbar">
    <span class="brand">
        <img class="brand-icon" th:src="@{img/korean-heart.png}" alt=""/>
      <span class="brand-name">MyAsianDramas</span>
    </span>
    <p class="topbar-subtitulo">Organize seus doramas favoritos do seu jeito</p>
    <div class="topbar-right">
      <span>Login</span>
      <span class="divisor">|</span> <!--Classe para não ficar com mesmo estilo que Login-->
      <span class="btn-cadastro">Cadastre-se</span>
    </div>
  </header>

  <!-- Barra de navegação / Menu -->
  <nav class="navbar">
    <a class="active" th:href="@{/}">Início</a>
    <a th:href="@{/doramas/KR}">
      <abbr title="Dramas Coreanos">K-Dramas</abbr>
    </a>
    <a th:href="@{/doramas/CN}">
      <abbr title="Dramas Chineses">C-Dramas</abbr>
    </a>
    <a th:href="@{/doramas/JP}">
      <abbr title="Dramas Japoneses">J-Dramas</abbr>
    </a>
    <a th:href="@{/doramas/TH}">
      <abbr title="Dramas Tailandeses">Th-Dramas</abbr>
    </a>
    <a th:href="@{/doramas/TW}">
      <abbr title="Dramas Taiwaneses">Tw-Dramas</abbr>
    </a>
    <div class="navbar-dropdown">
    <span>Listas</span>
      <div class="dropdown-menu">
        <a th:href="@{/listas/minhas}">Ver Minhas Listas</a>
        <a th:href="@{/listas/criar}">Criar Nova Lista</a>
      </div>
    </div>
    <div class="navbar-busca">
      <form method="get" th:action="@{/resultados-busca}">
        <input type="text" name="titulo" placeholder="Buscar dorama..."/>
          <button type="submit">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
      </form>
    </div>
  </nav>

  <!-- Conteúdo Principal -->
  <main>

    <!-- Doramas Em Andamento -->
    <div class="section-header">
      <h2>Doramas Em Andamento</h2>
      <div class="section-line"></div>
      <a class="ver-mais" th:href="@{/lista/dorama/em-andamento}">Ver mais</a>
    </div>

    <div class="doramas-grid">

      <a th:href="@{/dorama/{id}(id=${d.idDorama})}" class="grid-item" th:each="d : ${doramas}">
        <img class="doramas-poster" th:src="${d.poster}" alt=""/>
        <div class="doramas-info">
          <img class="doramas-flag" 
                th:src="'https://flagcdn.com/24x18/' + ${d.pais.name().toLowerCase()} + '.png'" 
                th:alt="${d.pais.descricao}"/>
          <!--<img class="doramas-flag" src="https://flagcdn.com/24x18/tw.png" alt="Taiwan"/>-->
          <span class="doramas-titulo" th:text="${d.tituloPortugues}"></span>
        </div>
      </a>
    </div>

    <!-- Doramas por gênero -->
    <div class="section-header">
      <h2>Doramas por Gênero</h2>
      <div class="section-line"></div>
      <a class="ver-mais">Ver mais</a>
    </div>

    <div class="op-grid">
      <span th:each="g : ${generos}" class="op-btn" th:text="${g.descricao}"></span>
    </div>

    <div class="lista-porgeneros">

    <div class="lista-item">
      <img class="doramas-flag" src="https://flagcdn.com/24x18/jp.png" alt="Japão"/>
      <span class="lista-titulo">Shitsuren Karuta</span>
    </div>
    <div class="lista-item">
      <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
      <span class="lista-titulo">Magic Move</span>
    </div>
    <div class="lista-item">
      <img class="doramas-flag" src="https://flagcdn.com/24x18/jp.png" alt="Japão"/>
      <span class="lista-titulo">Azure Spring</span>
    </div>
    <div class="lista-item">
      <img class="doramas-flag" src="https://flagcdn.com/24x18/th.png" alt="Tailândia"/>
      <span class="lista-titulo">Wu the Series</span>
    </div>
    <div class="lista-item">
      <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
      <span class="lista-titulo">The Scarecrow</span>
    </div>
    <div class="lista-item">
      <img class="doramas-flag" src="https://flagcdn.com/24x18/jp.png" alt="Japão"/>
      <span class="lista-titulo">Reborn</span>
    </div>
    <div class="lista-item">
      <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
      <span class="lista-titulo">The Legend of Kitchen Soldier</span>
    </div>
    <div class="lista-item">
      <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
      <span class="lista-titulo">Born with Luck</span>
    </div>
    <div class="lista-item">
      <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
      <span class="lista-titulo">Wanna One Go: Back to Base</span>
    </div>
    <div class="lista-item">
      <img class="doramas-flag" src="https://flagcdn.com/24x18/cn.png" alt="China"/>
      <span class="lista-titulo">The Lead</span>
    </div>
    <div class="lista-item">
      <img class="doramas-flag" src="https://flagcdn.com/24x18/cn.png" alt="China"/>
      <span class="lista-titulo">The Lead</span>
    </div>
    <div class="lista-item">
      <img class="doramas-flag" src="https://flagcdn.com/24x18/cn.png" alt="China"/>
      <span class="lista-titulo">The Lead</span>
    </div>
    <div class="lista-item">
      <img class="doramas-flag" src="https://flagcdn.com/24x18/cn.png" alt="China"/>
      <span class="lista-titulo">The Lead</span>
    </div>
    <div class="lista-item">
      <img class="doramas-flag" src="https://flagcdn.com/24x18/cn.png" alt="China"/>
      <span class="lista-titulo">The Lead</span>
    </div>
    <div class="lista-item">
      <img class="doramas-flag" src="https://flagcdn.com/24x18/cn.png" alt="China"/>
      <span class="lista-titulo">The Lead</span>
    </div>
    <div class="lista-item">
      <img class="doramas-flag" src="https://flagcdn.com/24x18/cn.png" alt="China"/>
      <span class="lista-titulo">The Lead</span>
    </div>
  </div>

    <!-- Lançamentos do ano-->
    <div class="section-header">
      <h2>Lançamentos do ano</h2>
      <div class="section-line"></div>
    </div>

    <div class="op-grid">
      <span class="op-btn">Jan</span>
      <span class="op-btn">Fev</span>
      <span class="op-btn">Mar</span>
      <span class="op-btn">Abr</span>
      <span class="op-btn active">Mai</span> <!--Active apenas para visualização-->
      <span class="op-btn">Jun</span>
      <span class="op-btn">Jul</span>
      <span class="op-btn">Ago</span>
      <span class="op-btn">Set</span>
      <span class="op-btn">Out</span>
      <span class="op-btn">Nov</span>
      <span class="op-btn">Dez</span>
    </div>
    <div class="lista-lancamentos">
    <div class="lista-data-grupo">
      <span class="lista-data">01 de maio</span>
      <div class="lista-item">
        <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
        <span class="lista-titulo">KBS Drama</span>
      </div>
    </div>
    <div class="lista-data-grupo">
      <span class="lista-data">06 de maio</span>
      <div class="lista-item">
        <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
        <span class="lista-titulo">Drama A</span>
      </div>
      <div class="lista-item">
        <img class="doramas-flag" src="https://flagcdn.com/24x18/cn.png" alt="China"/>
        <span class="lista-titulo">Drama B</span>
      </div>
    </div>

    <div class="lista-data-grupo">
      <span class="lista-data">08 de maio</span>
      <div class="lista-item">
        <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
        <span class="lista-titulo">My Royal Nemesis</span>
      </div>
    </div>

    <div class="lista-data-grupo">
      <span class="lista-data">11 de maio</span>
      <div class="lista-item">
        <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
        <span class="lista-titulo">The Legend of Kitchen Soldier</span>
      </div>
    </div>

    <div class="lista-data-grupo">
      <span class="lista-data">12 de maio</span>
      <div class="lista-item">
        <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
        <span class="lista-titulo">Reborn Rookie</span>
      </div>
    </div>

    <div class="lista-data-grupo">
      <span class="lista-data">14 de maio</span>
      <div class="lista-item">
        <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
        <span class="lista-titulo">Soul Mate</span>
      </div>
    </div>

    <div class="lista-data-grupo">
      <span class="lista-data">15 de maio</span>
      <div class="lista-item">
        <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
        <span class="lista-titulo">The WONDERfools</span>
      </div>
      <div class="lista-item">
        <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
        <span class="lista-titulo">Drama B</span>
      </div>
    </div>

    <div class="lista-data-grupo">
      <span class="lista-data">22 de maio</span>
      <div class="lista-item">
        <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
        <span class="lista-titulo">Fifties Professionals</span>
      </div>
    </div>

    <div class="lista-data-grupo">
      <span class="lista-data">30 de maio</span>
      <div class="lista-item">
        <img class="doramas-flag" src="https://flagcdn.com/24x18/kr.png" alt="Coreia"/>
        <span class="lista-titulo">Reborn Rookie 2</span>
      </div>
    </div>
  </div>
  </main>

  <footer>
    <p>MyAsianDramas &copy; 2026 &mdash; Feito com <span>♥</span> para fãs de doramas</p>
  </footer>

</body>
</html>
