<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <title>MyAsianDramas</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
  <link rel="stylesheet" th:href="@{css/base.css}"/>
  <link rel="stylesheet" th:href="@{css/landing.css}"/>
</head>
<body>
  <div th:insert="~{base :: topo}"></div>
  <div th:insert="~{base :: menu}"></div>
  <main>
    <!-- Doramas Em Andamento -->
    <div class="section-header">
      <h2>Doramas Em Andamento</h2>
      <div class="section-line"></div>
      <a class="ver-mais" th:href="@{/lista/dorama/em-andamento}">Ver mais</a>
    </div>

    <div class="doramas-grid">

      <a th:href="@{/dorama/{id}(id=${d.idDorama})}" class="grid-item" th:each="d : ${doramas}">
        <img class="doramas-poster" th:src="${d.poster}" alt=""/>
        <div class="doramas-info">
          <img class="doramas-flag" 
                th:src="'https://flagcdn.com/24x18/' + ${d.pais.name().toLowerCase()} + '.png'" 
                th:alt="${d.pais.descricao}"/>
          <!--<img class="doramas-flag" src="https://flagcdn.com/24x18/tw.png" alt="Taiwan"/>-->
          <span class="doramas-titulo" th:text="${d.tituloPortugues}"></span>
        </div>
      </a>
    </div>

    <!-- Doramas por gênero -->
    <div class="section-header">
      <h2>Doramas por Gênero</h2>
      <div class="section-line"></div>
      <a class="ver-mais" th:href="@{/doramas/todos}">Ver todos</a>
    </div>

    <div class="op-grid" id="generos">
      <a th:each="g : ${generos}" 
            th:href="@{/(idGenero=${g.idGenero})} + '#generos'"
            th:classappend="${generoSelecionado == g.idGenero} ? ' active'"
            class="op-btn" 
            th:text="${g.descricao}"></a>
        <!--Para cada gênero vai ter a referência para o idGenero do gênero do botão com a div identificada como generos
        adiciona 'active' na classe op-btn se o genero selecionado é o idGenero do botão-->
    </div>

    <div class="lista-porgeneros">

    <div class="lista-item" th:each="dg : ${doramasGenero}">
      <img class="doramas-flag"
          th:src="'https://flagcdn.com/24x18/' + ${dg.pais.name().toLowerCase()} + '.png'"
          th:alt="${dg.pais.descricao}"/>
      <span class="lista-titulo" th:text="${dg.tituloPortugues}"></span>
    </div>
  </div>

    <!-- Lançamentos do ano-->
    <div class="section-header">
      <h2>Lançamentos do ano</h2>
      <div class="section-line"></div>
    </div>

    <div class="op-grid" id="lancamentos">
      <a th:href="@{/(mes=1)}+ '#lancamentos'" 
          th:classappend="${mesSelecionado == 1} ? ' active'"
          class="op-btn">Jan</a>
      <a th:href="@{/(mes=2)}+ '#lancamentos'" 
          th:classappend="${mesSelecionado == 2} ? ' active'"
          class="op-btn">Fev</a>
      <a th:href="@{/(mes=3)}+ '#lancamentos'" 
          th:classappend="${mesSelecionado == 3} ? ' active'" 
          class="op-btn">Mar</a>
      <a th:href="@{/(mes=4)}+ '#lancamentos'" 
          th:classappend="${mesSelecionado == 4} ? ' active'" 
          class="op-btn">Abr</a>
      <a th:href="@{/(mes=5)}+ '#lancamentos'" 
          th:classappend="${mesSelecionado == 5} ? ' active'" 
          class="op-btn">Mai</a>
      <a th:href="@{/(mes=6)}+ '#lancamentos'" 
          th:classappend="${mesSelecionado == 6} ? ' active'" 
          class="op-btn">Jun</a>
      <a th:href="@{/(mes=7)}+ '#lancamentos'" 
          th:classappend="${mesSelecionado == 7} ? ' active'" 
          class="op-btn">Jul</a>
      <a th:href="@{/(mes=8)}+ '#lancamentos'" 
          th:classappend="${mesSelecionado == 8} ? ' active'" 
          class="op-btn">Ago</a>
      <a th:href="@{/(mes=9)}+ '#lancamentos'" 
          th:classappend="${mesSelecionado == 9} ? ' active'" 
          class="op-btn">Set</a>
      <a th:href="@{/(mes=10)}+ '#lancamentos'" 
          th:classappend="${mesSelecionado == 10} ? ' active'" 
          class="op-btn">Out</a>
      <a th:href="@{/(mes=11)}+ '#lancamentos'" 
          th:classappend="${mesSelecionado == 11} ? ' active'" 
          class="op-btn">Nov</a>
      <a th:href="@{/(mes=12)}+ '#lancamentos'" 
          th:classappend="${mesSelecionado == 12} ? ' active'" 
          class="op-btn">Dez</a>
    </div>

    <div class="lista-lancamentos">
    <!--Agrupamento por data-->
    <div th:each="registro : ${lancamentos}" class="lista-data-grupo">
        <span class="lista-data" th:text="'DIA '+ ${registro.key.dayOfMonth}"></span> <!--dayOfMonth = método de LocalDate-->
        <!--Doramas da data-->
        <div th:each="dorama : ${registro.value}" class="lista-item">
            <img class="doramas-flag" 
                 th:src="'https://flagcdn.com/24x18/' + ${dorama.pais.name().toLowerCase()} + '.png'"
                 th:alt="${dorama.pais.descricao}"/>
            <span class="lista-titulo" th:text="${dorama.tituloPortugues}"></span>
        </div>
    </div>
    </div>
  </main>

  <div th:insert="~{base :: rodape}"></div>

</body>
</html>
