<!DOCTYPE HTML>
<!-- Página ainda não totalmente implementada-->
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Confirmação</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" th:href="@{css/base.css}"/>
    <link rel="stylesheet" th:href="@{css/minhas-listas.css}"/>
</head>
<body>
        <!-- Topo -->
  <header class="topbar">
    <span class="brand">
        <img class="brand-icon" th:src="@{img/korean-heart.png}" alt=""/>
    <span class="brand-name">MyAsianDramas</span>
    </span>
    <p class="topbar-subtitulo">Organize seus doramas favoritos do seu jeito</p>
    <div class="topbar-right">
      <span>Usuário logado</span>
    </div>
  </header>

  <!-- Barra de navegação / Menu -->
  <nav class="navbar">
    <a th:href="@{/}">Início</a>
    <span><abbr title="Dramas Coreanos">K-Dramas</abbr></span>
    <span><abbr title="Dramas Chineses">C-Dramas</abbr></span>
    <span><abbr title="Dramas Japoneses">J-Dramas</abbr></span>
    <span><abbr title="Dramas Tailandeses">Th-Dramas</abbr></span>
    <span><abbr title="Dramas Taiwaneses">Tw-Dramas</abbr></span>
    <div class="navbar-dropdown">
      <span class="active">Listas</span>
      <div class="dropdown-menu">
        <a th:href="@{/minhas-listas}">Ver Minhas Listas</a>
        <a th:href="@{/criar-lista}">Criar Nova Lista</a>
      </div>
    </div>
    <div class="navbar-busca">
      <input type="text" placeholder="Buscar dorama..."/>
      <div class = "navbar-icone">
          <i class="fa-solid fa-magnifying-glass"></i>
      </div>
    </div>
  </nav>
  <main>
    <h1>Lista criada com sucesso!</h1>

    <a th:href="@{'/'}">Inicio</a>

    <table class="table table-striped table-primary">
    	<thead class="ttop">
        	<tr class="table-info">
            	<td><b>ID</b></td>
            	<td><b>Nome Lista</b> </td>
            	<td><b>Descrição</b> </td>
              <td></td>
				<td></td>
        	</tr>
    	</thead>
    	<tbody>
        	<tr th:each="lista : ${listas}">
            	<td th:text="${lista.idLista}"></td>
            	<td><a th:href="@{/listas/{idLista}(idLista=${lista.idLista})}" th:text="${lista.nomeLista}"></a></td>
            	<td th:text="${lista.descricao}"></td>
              <td>
					      <a th:href="@{'/listas/'+${lista.idLista}+'/atualizar'}">Editar</a>
				      </td>
       		</tr>
     	</tbody>
  </main>
  <footer>
    <p>MyAsianDramas &copy; 2026 &mdash; Feito com <span>♥</span> para fãs de doramas</p>
  </footer>
</body>
</html>