<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Crie sua Lista</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css" integrity="sha512-2SwdPD6INVrV/lHTZbO2nodKhrnDdJK9/kg2XD1r9uGqPo1cUbujc+IYdlYdEErWNu69gVcYgdxlmVmzTWnetw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <link rel="stylesheet" th:href="@{/css/base.css}"/>
    <link rel="stylesheet" th:href="@{/css/criar-lista.css}"/>

</head>
<body>
  <div th:insert="~{base :: topo}"></div>
  <div th:insert="~{base :: menu}"></div>
  <main>
    <div class="form-container">

      <div class="form-header">
        <!--<span class="form-icone"></span>-->
        <h1 class="form-titulo">🌸 Criar Nova Lista</h1>
      </div>

      <form action="#" th:action="@{/listas/criar}" method="post" th:object="${criarLista}" class="form-card">

        <div class="form-grupo">
          <label class="form-label" for="nomeLista">Nome</label>
          <input
            class="form-input"
            type="text"
            id="nomeLista"
            th:field="*{nomeLista}"
            placeholder="Ex: Para assistir, Favoritos..."/>
        </div>

        <div class="form-grupo">
          <label class="form-label" for="descricao">Descrição</label>
          <textarea
            class="form-input form-textarea"
            id="descricao"
            th:field="*{descricao}"
            placeholder="Descreva sua lista..."></textarea>
        </div>

        <div class="form-acoes">
          <a class="btn-cancelar" th:href="@{/listas/minhas}">Cancelar</a>
          <input class="btn-criar" type="submit" value="Criar Lista"/>
        </div>

      </form>
    </div>
  </main>

  <div th:insert="~{base :: rodape}"></div>

</body>
</html>