<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${ator.nomeAtor} + ' | MyAsianDramas'"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" th:href="@{/css/base.css}"/>
	<link rel="stylesheet" th:href="@{/css/pagina-conteudo.css}"/>
</head>
<body>
	<div th:insert="~{base :: topo}"></div>
    <div th:insert="~{base :: menu}"></div>

	<main>

        <!-- Poster e Dados gerais -->
        <div class="conteudo-topo">

            <img class="imagem-principal"
                 th:src="${ator.fotoPerfil}"
                 th:alt="${ator.nomeAtor}"/>

            <div class="conteudo-dados">

                <div class="conteudo-info-lista">
					<div class="info-linha">
                        <span class="info-label">Nome</span>
                        <span class="info-valor" th:text="${ator.nomeAtor}"></span>
                    </div>

					<div class="info-linha" th:if="${ator.nomeOriginal != ator.nomeAtor}">
                        <span class="info-label">Nome Original</span>
                        <span class="info-valor" th:text="${ator.nomeOriginal}"></span>
                    </div>
					
                    <div class="info-linha">
                        <span class="info-label">Nascimento</span>
                        <span class="info-valor" th:text="${ator.dataNascimentoFormatada}"></span>
                    </div>
                    <div class="info-linha">
                        <span class="info-label">Sexo</span>
                        <span class="info-valor" th:text="${ator.sexo.descricao}"></span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Doramas onde ator atuou: -->
        <div class="secao">
            <h2 class="secao-titulo">Filmografia</h2>
            <div class="conteudo-grid-ator">
                <div class="grid-card" th:each="dorama : ${doramas}">

                    <a th:href="'/dorama/' + ${dorama.idDorama}">
                        <img class="grid-imagem"
                             th:src="${dorama.poster}"
                             th:alt="${dorama.tituloPortugues}"/>
                    </a>
                    <a th:href="'/dorama/' + ${dorama.idDorama}"
                       class="item-label"
                       th:text="${dorama.tituloPortugues}"></a>

					<span class="detalhe-filmografia"
						  th:if="${dorama.tituloNativo != dorama.tituloPortugues}"
						  th:text="${dorama.tituloNativo}"
                          ></span>
					<span class="detalhe-filmografia"
						  th:text="'Ano: ' + ${dorama.dataEstreia.getYear()}">
					</span>

                </div>
            </div>
        </div>

    </main>
	<div th:insert="~{base :: rodape}"></div>
</body>
</html>